@import url(https://fonts.googleapis.com/css?family=Black+Han+Sans:400&display=swap);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Black Han Sans', sans-serif;
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Black Han Sans', sans-serif;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Black Han Sans', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Black Han Sans', sans-serif;
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #149dcc !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #d61e37 !important;
  border-color: #d61e37 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #931526 !important;
  border-color: #931526 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #931526 !important;
  border-color: #931526 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #7d1120;
  color: #7d1120;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #d61e37;
  border-color: #d61e37;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #d61e37 !important;
  border-color: #d61e37 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #149dcc !important;
}
.text-secondary {
  color: #d61e37 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0b566f !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #7d1120 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #149dcc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #149dcc;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #149dcc;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #149dcc;
}
/* Headers*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #149dcc;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #149dcc;
  border-bottom-color: #149dcc;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #149dcc !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #d61e37 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23149dcc' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-rP2i2MhErE .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rP2i2MhErE .nav-item:focus,
.cid-rP2i2MhErE .nav-link:focus {
  outline: none;
}
@media (min-width: 992px) {
  .cid-rP2i2MhErE .dropdown-item:hover:before {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    width: 16px;
  }
  .cid-rP2i2MhErE .nav-item {
    position: relative;
  }
  .cid-rP2i2MhErE .nav-item .nav-link::before {
    position: absolute;
    content: '';
    width: 0;
    height: 3px;
    bottom: -0.5rem;
    left: 50%;
    background: linear-gradient(90deg, #149dcc, #d61e37);
    transition: width 200ms linear, left 200ms linear;
  }
  .cid-rP2i2MhErE .nav-item.open .nav-link::before {
    bottom: .2rem;
    width: 80% !important;
    left: 10% !important;
  }
  .cid-rP2i2MhErE .nav-item .nav-link:hover::before {
    width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-rP2i2MhErE .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 2.5385em 0.235em 3.5385em;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rP2i2MhErE .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rP2i2MhErE .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-rP2i2MhErE .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rP2i2MhErE .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rP2i2MhErE .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-rP2i2MhErE .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rP2i2MhErE .navbar {
  min-height: 77px;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-align-items: center;
  background: none;
  max-height: 100vh;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.cid-rP2i2MhErE .navbar .mbr-overlay {
  z-index: -1;
  transition: all .3s;
  background: #000000;
}
.cid-rP2i2MhErE .navbar.opened .mbr-overlay {
  transition: all .3s;
  background: #000000 !important;
}
.cid-rP2i2MhErE .navbar .dropdown-item {
  padding: .25rem 1.5rem;
}
.cid-rP2i2MhErE .navbar .navbar-collapse {
  width: 100%;
  -webkit-flex-basis: auto;
  flex-basis: auto;
  -webkit-justify-content: center;
  justify-content: center;
  z-index: 1;
  padding: .5rem 1rem;
}
@media (max-width: 991px) {
  .cid-rP2i2MhErE .navbar .navbar-collapse {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
}
.cid-rP2i2MhErE .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-rP2i2MhErE .navbar.collapsed.opened .navbar-collapse {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.cid-rP2i2MhErE .navbar.collapsed .navbar-collapse.show,
.cid-rP2i2MhErE .navbar.collapsed .navbar-collapse.collapsing {
  transition: all .3s linear;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-rP2i2MhErE .navbar.collapsed .navbar-collapse.show .brand-container,
.cid-rP2i2MhErE .navbar.collapsed .navbar-collapse.collapsing .brand-container {
  -webkit-order: -1;
  order: -1;
}
.cid-rP2i2MhErE .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-rP2i2MhErE .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rP2i2MhErE .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rP2i2MhErE .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rP2i2MhErE .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rP2i2MhErE .navbar.collapsed .navbar-buttons {
  margin: 0;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-rP2i2MhErE .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-rP2i2MhErE .navbar.collapsed .right-menu,
.cid-rP2i2MhErE .navbar.collapsed .left-menu {
  -webkit-flex-basis: auto;
  flex-basis: auto;
}
@media (max-width: 991px) {
  .cid-rP2i2MhErE .navbar .navbar-collapse.show,
  .cid-rP2i2MhErE .navbar .navbar-collapse.collapsing {
    transition: all .3s linear;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-rP2i2MhErE .navbar .navbar-collapse.show .brand-container,
  .cid-rP2i2MhErE .navbar .navbar-collapse.collapsing .brand-container {
    -webkit-order: -1;
    order: -1;
  }
  .cid-rP2i2MhErE .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rP2i2MhErE .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-rP2i2MhErE .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rP2i2MhErE .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-rP2i2MhErE .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-rP2i2MhErE .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-rP2i2MhErE .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rP2i2MhErE .navbar .navbar-buttons {
    margin: 0;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-rP2i2MhErE .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem;
    text-align: center;
  }
  .cid-rP2i2MhErE .navbar .right-menu,
  .cid-rP2i2MhErE .navbar .left-menu {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
}
.cid-rP2i2MhErE .navbar.navbar-short {
  min-height: 60px;
}
.cid-rP2i2MhErE .navbar.navbar-short .mbr-overlay {
  background: #000000 !important;
}
.cid-rP2i2MhErE .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-rP2i2MhErE .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rP2i2MhErE .navbar-brand {
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rP2i2MhErE .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-rP2i2MhErE .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rP2i2MhErE .dropdown-item.active,
.cid-rP2i2MhErE .dropdown-item:active {
  background-color: transparent;
}
.cid-rP2i2MhErE .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-rP2i2MhErE .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-rP2i2MhErE .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-rP2i2MhErE .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #000000;
}
.cid-rP2i2MhErE .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-rP2i2MhErE .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rP2i2MhErE ul.navbar-nav {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .cid-rP2i2MhErE ul.navbar-nav {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.cid-rP2i2MhErE .navbar-buttons {
  margin-left: auto;
}
.cid-rP2i2MhErE button.navbar-toggler {
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  margin: 1rem;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rP2i2MhErE button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #d61e37;
}
.cid-rP2i2MhErE button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rP2i2MhErE button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rP2i2MhErE button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rP2i2MhErE button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rP2i2MhErE nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rP2i2MhErE nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
  width: 20px;
  right: -2px;
}
.cid-rP2i2MhErE nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
  width: 20px;
  left: -2px;
}
.cid-rP2i2MhErE nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rP2i2MhErE .navbar-dropdown {
  position: fixed;
}
.cid-rP2i2MhErE a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rP2i2MhErE .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-rP2i2MhErE .right-menu,
.cid-rP2i2MhErE .left-menu {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
}
.cid-rP2i2MhErE .left-menu .navbar-nav {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rP2i2MhErE .left-menu .navbar-nav ul {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rP2i2MhErE .brand-container {
  padding: 0 2rem;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-rP2i2MhErE .menu-top {
  text-align: center;
  width: 100%;
  background-color: #d61e37;
  padding: .5rem 0;
}
.cid-rP2i2MhErE .full-link {
  width: 100%;
  font-size: 0;
  z-index: 2;
}
.cid-rP2i2MhErE .card-wrapper {
  z-index: 3;
}
.cid-rP2i2MhErE .popup-btn.card-wrapper {
  z-index: 1 !important;
}
@media (max-width: 991px) {
  .cid-rP2i2MhErE .navbar-collapse {
    padding-top: 0;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rP2i2MhErE .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-rP2n8ImGK0 {
  background-image: url("../../../assets/images/mbr-1-1920x1280.jpg");
}
.cid-rP2nxf8RDU {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rP2nxf8RDU .card-icon {
  font-size: 56px;
  color: #d61e37;
  transition: color 0.3s;
}
.cid-rP2nxf8RDU .card-title {
  font-weight: 600;
  letter-spacing: 1px;
}
.cid-rP2nxf8RDU .link-ico {
  font-size: 0.8rem;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 100%;
  padding: 0.5rem 0;
  font-weight: 900;
  padding-left: 9px;
  padding-right: 7px;
}
.cid-rP2nxf8RDU .line {
  width: 35px;
  height: 3px;
  display: inline-block;
  background: #d61e37;
  margin-bottom: 1.5rem;
  transition: background 0.3s;
}
.cid-rP2nxf8RDU .card {
  padding: 0!important;
}
.cid-rP2nxf8RDU .card-wrapper {
  padding: 4rem;
  transition: background 0.3s;
}
.cid-rP2nxf8RDU .card-wrapper:hover {
  background: #d61e37;
}
.cid-rP2nxf8RDU .card-wrapper:hover .card-icon {
  color: #000000;
}
.cid-rP2nxf8RDU .card-wrapper:hover .line {
  background: #000000;
}
.cid-rP2nxf8RDU .card1 {
  background: #000000;
}
.cid-rP2nxf8RDU .card2 {
  background: #050505;
}
.cid-rP2nxf8RDU .card3 {
  background: #0a0a0a;
}
.cid-rP2nxf8RDU .card4 {
  background: #0f0f0f;
}
.cid-rP2nxf8RDU .card5 {
  background: #141414;
}
.cid-rP2nxf8RDU .card6 {
  background: #1a1a1a;
}
.cid-rP2nxf8RDU .col-lg-x {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}
@media (max-width: 1400px) {
  .cid-rP2nxf8RDU .col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 767px) {
  .cid-rP2nxf8RDU .col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.cid-rP2LMTFdc1 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
@media (min-width: 767px) {
  .cid-rP2LMTFdc1 .container {
    padding: 1rem;
  }
}
.cid-rP2LMTFdc1 .card-box {
  padding: 0 2rem;
}
.cid-rP2LMTFdc1 .card {
  padding: 0!important;
}
.cid-rP2LMTFdc1 .mbr-section-btn {
  padding-top: 2rem;
}
.cid-rP2LMTFdc1 .container-fluid {
  padding: 0;
}
.cid-rP2LMTFdc1 .card1 {
  background-image: url("../../../assets/images/1.jpg");
}
.cid-rP2LMTFdc1 .card2 {
  background-image: url("../../../assets/images/3.jpg");
}
.cid-rP2LMTFdc1 .card3 {
  background-image: url("../../../assets/images/38.jpg");
}
.cid-rP2LMTFdc1 .card4 {
  background-image: url("../../../assets/images/mbr-2-1920x1280.jpg");
}
.cid-rP2LMTFdc1 h4 {
  font-weight: 500;
  margin-bottom: 0;
  padding-top: 2rem;
}
.cid-rP2LMTFdc1 p {
  margin-bottom: 0;
  padding-top: 1.5rem;
}
.cid-rP2LMTFdc1 .card-wrapper {
  height: 100%;
  padding: 25rem 2rem 5rem 2rem;
  background-size: cover;
}
.cid-rP2LMTFdc1 .btn {
  margin: 0!important;
  padding: 1rem 2rem;
}
@media (max-width: 767px) {
  .cid-rP2LMTFdc1 .card-wrapper {
    padding: 15rem 1rem 3rem 1rem;
  }
}
.cid-rP2VfZvIOh .number-wrap {
  color: #ffffff;
  border-color: rgba(255, 255, 255, 0.15);
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 5px 10px 13px 10px;
  margin: 0;
  min-width: 118px;
  border-radius: 2px;
  max-width: 100%;
}
.cid-rP2VfZvIOh .number {
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  text-transform: none;
  letter-spacing: -2px;
  word-spacing: 0;
  line-height: 1.3;
  color: #ffffff;
}
.cid-rP2VfZvIOh .period {
  display: block;
  padding-top: 2px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.cid-rP2VfZvIOh .dot {
  position: absolute;
  top: -10px;
  right: -0.8em;
  width: 1em;
  display: block;
  height: 83%;
  overflow: hidden;
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 89.65px;
  text-transform: none;
  letter-spacing: 0;
  word-spacing: 0;
  color: #ffffff;
}
.cid-rP2VfZvIOh .countdown-cont {
  margin: 0 auto;
}
.cid-rP2VfZvIOh .full-count-container {
  background: #2e2e2e;
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-rP2VfZvIOh .dot {
    right: -0.6em;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-rP2VfZvIOh .dot {
    right: -1em;
  }
}
@media (max-width: 768px) {
  .cid-rP2VfZvIOh .dot {
    display: none;
  }
  .cid-rP2VfZvIOh .number {
    white-space: nowrap;
  }
}
@media (max-width: 550px) {
  .cid-rP2VfZvIOh .number-wrap {
    min-width: auto;
  }
}
@media (max-width: 440px) {
  .cid-rP2VfZvIOh .number {
    font-size: 40px;
  }
}
@media (max-width: 380px) {
  .cid-rP2VfZvIOh .period {
    font-size: 0.8rem;
  }
}
@media (max-width: 300px) {
  .cid-rP2VfZvIOh .number {
    font-size: 25px;
  }
  .cid-rP2VfZvIOh .period {
    font-size: 0.7rem;
  }
}
.cid-rP2kKTOMKS {
  padding-top: 90px;
  padding-bottom: 90px;
  background: #000000;
}
.cid-rP2kKTOMKS .plan-body .btn-bgr {
  z-index: 0;
}
.cid-rP2kKTOMKS .media-container-row {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
.cid-rP2kKTOMKS .list-group-item {
  padding: .75rem 0rem;
}
.cid-rP2kKTOMKS .plan-subtitle {
  color: #cccccc;
}
.cid-rP2kKTOMKS .mbr-text {
  margin: 10px 0 0 0;
  color: #cccccc;
}
.cid-rP2kKTOMKS .nav-tabs {
  border: none !important;
}
.cid-rP2kKTOMKS .nav-tabs .btn {
  background: transparent !important;
  position: relative;
}
.cid-rP2kKTOMKS .nav-tabs .btn:not(:focus):not(:hover):not(.active) {
  color: #ffffff !important;
  border-color: #ffffff !important;
}
.cid-rP2kKTOMKS .nav-tabs .btn.active,
.cid-rP2kKTOMKS .nav-tabs .btn:hover {
  background: #d61e37 !important;
  color: #ffffff !important;
  border-color: #d61e37 !important;
}
.cid-rP2kKTOMKS .nav-tabs .btn.active:after {
  animation: none;
}
.cid-rP2kKTOMKS .nav-tabs .btn:after {
  content: '';
  border: 0px solid;
  border-color: inherit;
  border-radius: inherit;
  transition: border-radius 0.3s;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}
.cid-rP2kKTOMKS .nav-tabs .btn:hover:after {
  border-width: 1px;
  -webkit-animation: 1s btn-animation linear infinite;
  animation: 1s btn-animation linear infinite;
}
@keyframes btn-animation {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    opacity: 0;
  }
}
.cid-rP2kKTOMKS .price-term .term {
  display: inline-block;
  background: #ffffff;
  padding: 5px 10px;
  border-radius: 100px;
}
.cid-rP2kKTOMKS .plan {
  padding: 1.875rem;
  background: none;
  position: relative;
}
.cid-rP2kKTOMKS .plan .mbr-overlay {
  background: #d61e37;
  opacity: 0.9;
}
.cid-rP2kKTOMKS .plan .plan-price {
  margin-top: 15px;
  padding: 20px 0;
  border-top: 1px solid #eaeaea;
}
.cid-rP2kKTOMKS .plan .plan-price .price-term {
  margin-top: 10px;
}
.cid-rP2kKTOMKS .plan .list-group-item {
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
  border: 0;
  background: none;
}
.cid-rP2kKTOMKS .plan .list-group-item::after {
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 100%;
  height: 1px;
  content: "";
  background-color: #eaeaea;
}
.cid-rP2kKTOMKS .plan .mbr-section-btn a {
  margin-bottom: 0;
}
.cid-rP2kKTOMKS .plan .plan-body {
  position: relative;
  border-top: 1px solid #eaeaea;
}
@media (max-width: 992px) {
  .cid-rP2kKTOMKS .plan {
    margin-bottom: 30px;
  }
}
.cid-rP2kKTOMKS .plan-header {
  position: relative;
}
@media (max-width: 550px) {
  .cid-rP2kKTOMKS .price-figure {
    font-size: 4.25rem;
  }
}
.cid-rP3P7CdTdV {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rP3P7CdTdV .nav-tabs .nav-item.open .nav-link:focus,
.cid-rP3P7CdTdV .nav-tabs .nav-link.active:focus {
  outline: none;
}
.cid-rP3P7CdTdV .nav-tabs {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 1px solid #073b4c;
}
.cid-rP3P7CdTdV .nav-tabs .nav-item {
  padding: .5rem;
}
.cid-rP3P7CdTdV .first {
  margin-left: -24px;
}
.cid-rP3P7CdTdV .nav-tabs .nav-link {
  color: #073b4c;
  font-style: normal;
  font-weight: 500;
  transition: all .5s;
  border: none;
}
.cid-rP3P7CdTdV .nav-tabs .nav-link:hover {
  cursor: pointer;
  color: #149dcc;
}
.cid-rP3P7CdTdV .nav-tabs .nav-link.active {
  font-weight: 500;
  color: #149dcc;
  font-style: normal;
}
.cid-rP3P7CdTdV P {
  color: #879a9f;
}
@media (max-width: 576px) {
  .cid-rP3P7CdTdV .nav-tabs {
    flex-direction: column;
    justify-content: center;
  }
  .cid-rP3P7CdTdV .mbr-text,
  .cid-rP3P7CdTdV .nav-link {
    text-align: center;
  }
}
.cid-rP31ZIuPP6 {
  padding-top: 90px;
  padding-bottom: 90px;
}
.cid-rP31ZIuPP6 .mbr-section-subtitle {
  color: #ffffff;
  text-align: left;
  font-weight: 300;
}
.cid-rP31ZIuPP6 .step {
  width: 50px;
  height: 50px;
  font-size: 25px;
  border-radius: 50%;
  border: 2px solid #efefef;
  padding-bottom: 0;
  color: #ffffff;
}
@media (min-width: 768px) {
  .cid-rP31ZIuPP6 .separline .step-wrapper {
    position: relative;
  }
  .cid-rP31ZIuPP6 .separline .step-wrapper:before,
  .cid-rP31ZIuPP6 .separline .step-wrapper:after {
    top: 27px;
    position: absolute;
    content: "";
    height: 2px;
    width: calc(50% + 15px - 25px - 8px);
    background-color: #efefef;
  }
  .cid-rP31ZIuPP6 .separline .step-wrapper:before {
    left: -15px;
  }
  .cid-rP31ZIuPP6 .separline .step-wrapper:after {
    left: calc(50% + 8px + 25px);
  }
  .cid-rP31ZIuPP6 .separline.last-child .step-wrapper:after,
  .cid-rP31ZIuPP6 .separline:nth-child(3n) .step-wrapper:after,
  .cid-rP31ZIuPP6 .separline:nth-child(3n+1) .step-wrapper:before {
    background: none;
  }
}
@media (max-width: 767px) {
  .cid-rP31ZIuPP6 .card:not(.last-child) {
    padding-bottom: 1.5rem;
  }
}
.cid-rP31ZIuPP6 .mbr-section-title {
  text-align: left;
  color: #ffffff;
}
.cid-rP31ZIuPP6 .mbr-step-title {
  color: #ffffff;
}
.cid-rP31ZIuPP6 .mbr-step-text {
  color: #ffffff;
}
.cid-rP31g63ah6 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/background7.jpg");
}
.cid-rP31g63ah6 .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
  padding: 0 3rem;
}
.cid-rP31g63ah6 .carousel-item > div {
  width: 100%;
}
.cid-rP31g63ah6 .carousel-item.active,
.cid-rP31g63ah6 .carousel-item-next,
.cid-rP31g63ah6 .carousel-item-prev {
  display: flex;
}
.cid-rP31g63ah6 .carousel-controls a {
  transition: opacity .5s;
  font-size: 1.2rem;
}
.cid-rP31g63ah6 .carousel-controls a span {
  padding: 15px;
  border-radius: 50%;
  color: #000000;
  background: #ffffff;
  opacity: .9;
}
.cid-rP31g63ah6 .carousel-controls a:hover span {
  opacity: 1;
}
.cid-rP31g63ah6 .signature,
.cid-rP31g63ah6 .desk {
  margin: 0;
}
.cid-rP31g63ah6 .mbr-text,
.cid-rP31g63ah6 .mbr-section-subtitle {
  color: #efefef;
}
.cid-rP31g63ah6 .signature,
.cid-rP31g63ah6 .desk {
  color: #ffffff;
}
@media (min-width: 992px) {
  .cid-rP31g63ah6 .carousel-item {
    padding: 0 5rem;
  }
}
@media (min-width: 768px) {
  .cid-rP31g63ah6 .carousel-controls a {
    width: 5%;
  }
}
.cid-rP3PzKwh2x {
  padding-top: 75px;
  padding-bottom: 270px;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}
.cid-rP3PzKwh2x svg {
  position: absolute;
  bottom: -9.5rem;
  left: 50%;
  transform: translate(-50%) scaleX(-2) rotate(-12deg);
  filter: fliph;
  animation: wave2 5s ease-in-out infinite;
}
@keyframes wave2 {
  from {
    transform: translate(-50%) scaleX(-2) rotate(-10deg);
  }
  50% {
    transform: translate(-50%) scaleX(-2.2) scaleY(1.1) rotate(-13deg);
  }
  to {
    transform: translate(-50%) scaleX(-2) rotate(-10deg);
  }
}
.cid-rP3PzKwh2x #e12_areaS3 {
  fill: #d61e37 !important;
}
.cid-rP3PzKwh2x #e19_areaS3 {
  fill: #2e2e2e !important;
}
.cid-rP3PzKwh2x .carousel-control {
  background: #000;
  opacity: 0.2;
}
.cid-rP3PzKwh2x .carousel {
  width: 80%;
  margin: auto;
}
.cid-rP3PzKwh2x .mbr-section-subtitle {
  color: #716c80;
  text-align: left;
}
.cid-rP3PzKwh2x .carousel-item {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rP3PzKwh2x .carousel-item .media-container-row {
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
.cid-rP3PzKwh2x .carousel-item .wrap-img {
  text-align: center;
}
.cid-rP3PzKwh2x .carousel-item .wrap-img img {
  transition: all 0.3s;
  max-height: 150px;
  width: auto;
  max-width: 100%;
}
.cid-rP3PzKwh2x .carousel-controls {
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rP3PzKwh2x .carousel-controls .carousel-control {
  background: #000;
  border-radius: 50%;
  position: static;
  width: 40px;
  height: 40px;
  margin-top: 2rem;
  border-width: 1px;
}
.cid-rP3PzKwh2x .carousel-controls .carousel-control.carousel-control-prev {
  left: auto;
  margin-right: 20px;
  margin-left: 0;
}
.cid-rP3PzKwh2x .carousel-controls .carousel-control.carousel-control-next {
  right: auto;
  margin-right: 0;
}
.cid-rP3PzKwh2x .carousel-controls .carousel-control .mbr-iconfont {
  font-size: 1rem;
}
.cid-rP3PzKwh2x .cloneditem-1,
.cid-rP3PzKwh2x .cloneditem-2,
.cid-rP3PzKwh2x .cloneditem-3,
.cid-rP3PzKwh2x .cloneditem-4,
.cid-rP3PzKwh2x .cloneditem-5 {
  display: none;
}
.cid-rP3PzKwh2x .col-lg-15 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  -webkit-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 100%;
}
@media (min-width: 992px) {
  .cid-rP3PzKwh2x .col-lg-15 {
    -ms-flex: 0 0 20%;
    -webkit-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    width: 20%;
  }
  .cid-rP3PzKwh2x .carousel-inner {
    opacity: 0.8;
  }
  .cid-rP3PzKwh2x .carousel-inner.slides2 > .carousel-item.active.carousel-item-right,
  .cid-rP3PzKwh2x .carousel-inner.slides2 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(50%, 0, 0);
    transform: translate3d(50%, 0, 0);
  }
  .cid-rP3PzKwh2x .carousel-inner.slides2 > .carousel-item.active.carousel-item-left,
  .cid-rP3PzKwh2x .carousel-inner.slides2 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-50%, 0, 0);
    transform: translate3d(-50%, 0, 0);
  }
  .cid-rP3PzKwh2x .carousel-inner.slides2 > .carousel-item.carousel-item-left,
  .cid-rP3PzKwh2x .carousel-inner.slides2 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rP3PzKwh2x .carousel-inner.slides2 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rP3PzKwh2x .carousel-inner.slides2 .cloneditem-1,
  .cid-rP3PzKwh2x .carousel-inner.slides2 .cloneditem-2,
  .cid-rP3PzKwh2x .carousel-inner.slides2 .cloneditem-3 {
    display: block;
  }
  .cid-rP3PzKwh2x .carousel-inner.slides3 > .carousel-item.active.carousel-item-right,
  .cid-rP3PzKwh2x .carousel-inner.slides3 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(33.333333%, 0, 0);
    transform: translate3d(33.333333%, 0, 0);
  }
  .cid-rP3PzKwh2x .carousel-inner.slides3 > .carousel-item.active.carousel-item-left,
  .cid-rP3PzKwh2x .carousel-inner.slides3 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-33.333333%, 0, 0);
    transform: translate3d(-33.333333%, 0, 0);
  }
  .cid-rP3PzKwh2x .carousel-inner.slides3 > .carousel-item.carousel-item-left,
  .cid-rP3PzKwh2x .carousel-inner.slides3 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rP3PzKwh2x .carousel-inner.slides3 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rP3PzKwh2x .carousel-inner.slides3 .cloneditem-1,
  .cid-rP3PzKwh2x .carousel-inner.slides3 .cloneditem-2,
  .cid-rP3PzKwh2x .carousel-inner.slides3 .cloneditem-3 {
    display: block;
  }
  .cid-rP3PzKwh2x .carousel-inner.slides4 > .carousel-item.active.carousel-item-right,
  .cid-rP3PzKwh2x .carousel-inner.slides4 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
  }
  .cid-rP3PzKwh2x .carousel-inner.slides4 > .carousel-item.active.carousel-item-left,
  .cid-rP3PzKwh2x .carousel-inner.slides4 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-25%, 0, 0);
    transform: translate3d(-25%, 0, 0);
  }
  .cid-rP3PzKwh2x .carousel-inner.slides4 > .carousel-item.carousel-item-left,
  .cid-rP3PzKwh2x .carousel-inner.slides4 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rP3PzKwh2x .carousel-inner.slides4 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rP3PzKwh2x .carousel-inner.slides4 .cloneditem-1,
  .cid-rP3PzKwh2x .carousel-inner.slides4 .cloneditem-2,
  .cid-rP3PzKwh2x .carousel-inner.slides4 .cloneditem-3 {
    display: block;
  }
  .cid-rP3PzKwh2x .carousel-inner.slides5 > .carousel-item.active.carousel-item-right,
  .cid-rP3PzKwh2x .carousel-inner.slides5 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
  .cid-rP3PzKwh2x .carousel-inner.slides5 > .carousel-item.active.carousel-item-left,
  .cid-rP3PzKwh2x .carousel-inner.slides5 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
  .cid-rP3PzKwh2x .carousel-inner.slides5 > .carousel-item.carousel-item-left,
  .cid-rP3PzKwh2x .carousel-inner.slides5 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rP3PzKwh2x .carousel-inner.slides5 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rP3PzKwh2x .carousel-inner.slides5 .cloneditem-1,
  .cid-rP3PzKwh2x .carousel-inner.slides5 .cloneditem-2,
  .cid-rP3PzKwh2x .carousel-inner.slides5 .cloneditem-3,
  .cid-rP3PzKwh2x .carousel-inner.slides5 .cloneditem-4 {
    display: block;
  }
  .cid-rP3PzKwh2x .carousel-inner.slides6 > .carousel-item.active.carousel-item-right,
  .cid-rP3PzKwh2x .carousel-inner.slides6 > .carousel-item.carousel-item-next {
    left: 0;
    -webkit-transform: translate3d(16.666667%, 0, 0);
    transform: translate3d(16.666667%, 0, 0);
  }
  .cid-rP3PzKwh2x .carousel-inner.slides6 > .carousel-item.active.carousel-item-left,
  .cid-rP3PzKwh2x .carousel-inner.slides6 > .carousel-item.carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(-16.666667%, 0, 0);
    transform: translate3d(-16.666667%, 0, 0);
  }
  .cid-rP3PzKwh2x .carousel-inner.slides6 > .carousel-item.carousel-item-left,
  .cid-rP3PzKwh2x .carousel-inner.slides6 > .carousel-item.carousel-item-prev.carousel-item-right,
  .cid-rP3PzKwh2x .carousel-inner.slides6 > .carousel-item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .cid-rP3PzKwh2x .carousel-inner.slides6 .cloneditem-1,
  .cid-rP3PzKwh2x .carousel-inner.slides6 .cloneditem-2,
  .cid-rP3PzKwh2x .carousel-inner.slides6 .cloneditem-3,
  .cid-rP3PzKwh2x .carousel-inner.slides6 .cloneditem-4,
  .cid-rP3PzKwh2x .carousel-inner.slides6 .cloneditem-5 {
    display: block;
  }
}
.cid-rP3PzKwh2x H2 {
  color: #d61e37;
  text-align: left;
}
.cid-rP3PzKwh2x .carousel-control-prev {
  position: absolute!important;
  left: -50px !important;
}
.cid-rP3PzKwh2x .carousel-control-next {
  position: absolute!important;
  right: -50px !important;
}
@media (max-width: 576px) {
  .cid-rP3PzKwh2x .carousel-control-prev {
    left: -10px !important;
  }
  .cid-rP3PzKwh2x .carousel-control-next {
    right: -10px !important;
  }
}
.cid-rP2vQFkxwC {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #2e2e2e;
}
.cid-rP2vQFkxwC .mbr-text {
  color: #ffffff;
  margin: 0;
  padding-top: 1.5rem;
}
.cid-rP2vQFkxwC div.b {
  padding-top: 2rem;
}
.cid-rP2vQFkxwC H5 {
  color: #000000;
}
.cid-rP2vQFkxwC .mbr-section-subtitle {
  text-align: left;
}
.cid-rP2ke6xC13 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #2e2e2e;
}
